# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @temporalio/sdk will be requested for review when
# someone opens a pull request.
* @temporalio/sdk

# SDK & Nexus teams share ownership of these files
/.scripts/list-of-samples.json @temporalio/sdk @temporalio/nexus
/README.md @temporalio/sdk @temporalio/nexus
/pnpm-lock.yaml @temporalio/sdk @temporalio/nexus

# The Nexus team owns any folder whose name starts with "nexus"
/nexus*/ @temporalio/nexus

/ai-sdk/            @temporalio/sdk @temporalio/ai-sdk
/google-adk-agents/ @temporalio/sdk @temporalio/ai-sdk
/langsmith/         @temporalio/sdk @temporalio/ai-sdk
/openai-agents/     @temporalio/sdk @temporalio/ai-sdk
/strands-agents/    @temporalio/sdk @temporalio/ai-sdk
/workflow-streams/  @temporalio/sdk @temporalio/ai-sdk
