# These owners will be the default owners for everything in the repo.
# Later matches override earlier entries.

* @temporalio/sdk

# IMPORTANT: Make sure to add `@temporalio/sdk` on every override below.
# This is required so that SDK team can do repo-wide maintenance tasks.

/README.md                      @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk
/.scripts/list-of-samples.json  @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk
/pnpm-lock.yaml                 @temporalio/sdk @temporalio/nexus @temporalio/ai-sdk

/nexus*/                        @temporalio/sdk @temporalio/nexus

/ai-sdk/                        @temporalio/sdk @temporalio/ai-sdk
/google-adk-agents/             @temporalio/sdk @temporalio/ai-sdk
/langsmith/                     @temporalio/sdk @temporalio/ai-sdk
/openai-agents/                 @temporalio/sdk @temporalio/ai-sdk
/strands-agents/                @temporalio/sdk @temporalio/ai-sdk
/workflow-streams/              @temporalio/sdk @temporalio/ai-sdk
