link-workspace-packages = true
shared-workspace-lockfile = true
hoist = false

# By default, PNPM hoists eslint and prettier to the workspace root, but that may causes issues
# with this workspace, as some samples have completely different versions of these packages, or
# depends on incompatible plugins.
public-hoist-pattern = []

# The monorepo sample uses postcss with an external configuration file that refers to plugins by
# their package name, rather than passing objects. That doesn't work with PNPM's strict node_modules
# structure. To work around this, hoist all postcss-* packages.
# FIXME: Can't we do something equivalent at the project-level instead?
public-hoist-pattern[] = postcss-*
