.prettierignore
.husky/
node_modules
build
lib
.next
.vscode
protobufs/protos/json-module.js
protobufs/protos/root.d.ts
.scripts/list-of-samples.json
package-lock.json
pnpm-lock.yaml

nestjs-exchange-rates/dist

.github/workflows/ci.yml