name: CI

on:
  pull_request:
    branches: [$default-branch]
  push:
    branches: [$default-branch, next]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest] # add windows-latest when supported by SDK
        node: [16]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          # Comment out next line when testing with `act`
          # cache: 'npm'
      - run: npm install
      - run: npx prettier . --check
      # - run: npm run lint
      # - run: npm test
